/*font-size Start*/
@mixin generator-font-size($inList,$inPrefix:'.f-') {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        font-size: #{$i/50}px;
      }
    }
  }
}

/*font-size End*/
